.select {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-left: auto;
    
    button {
        color: #000;
            background: #fff;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: capitalize;
            cursor: pointer;
            border: none;
            margin-top: 1rem;
            font-family: "Poppins";

            &.active {
                background: #14a2ba;
                color: #fff;
            }
    }
}
.formations {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  row-gap: 4rem;

  @media screen and(max-width: 700px) {
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
  }
  .tools {
    display: flex;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: 700px){
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .formations_year{
      width: 150px;
      color: #fff;
      text-align: left;
      margin-top: 10px;
      text-transform: uppercase;
      @media screen and (max-width: 700px){
        font-size: 0.8rem;
      }
    }
    .form_label_location{
      display: flex;
      color: #fff;
      flex-direction: column;
      width: 500px;
      margin-top: 10px;
      margin-left: 5rem;
      text-transform: uppercase;
      text-align: left;
      @media screen and (max-width: 700px){
        font-size: 0.8rem;
        width: 400px;
      }
      .formations_location{
        font-size: 0.8em;
        color: #14a2ba;
      }
    }
  }
}

.experiences {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  row-gap: 4rem;

  @media screen and(max-width: 700px) {
    grid-template-columns: repeat(1,1fr);
    gap: 2rem;
  }
  .experience {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    @media screen and (max-width: 700px){
      margin-left: 50%;
      transform: translateX(-50%);
    }
    .experiences_year{
      width: 100px;
      color: #fff;
      text-align: left;
      margin-top: 10px;
      text-transform: uppercase;
      @media screen and (max-width: 700px){
        font-size: 0.8rem;
        width: 75px;
      }
    }
    .form_label_location{
      display: flex;
      color: #fff;
      flex-direction: column;
      width: 500px;
      margin-top: 10px;
      margin-left: 5rem;
      text-transform: uppercase;
      text-align: left;
      @media screen and (max-width: 700px){
        font-size: 0.8rem;
        width: 400px;
      }
      .experiences_info {
        color: rgb(182, 182, 182);
      }
      .experiences_techno {
        color: rgb(180,180,180);
      }
      .experiences_location{
        font-size: 0.8em;
        color: #14a2ba;
      }
    }
  }
}
  


.finishes_container {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  text-align: center;
  flex-wrap: wrap;
  gap: 2rem;
  color: #fff;

  .number {
    color: #14a2ba;
    font-size: 1.7rem;
  }
}