#accueil {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:url(../../../assets/wallpaper.jpg);
    background-size: cover;
    background-position: center;

    .profile {
        width: 110px;
        height: 110px;

        img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    }
    .profile_text {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;

        h3 {
            color: #fff;
            font-size: 2rem;
            @media screen and (max-width: 550px) {
                font-size: 1.5rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 1rem;
            }
            span {
                color: #14a2ba;
                // color: #FC6FAE;
                // color: #FCE93D;
                // color: #9627BA;
                text-shadow: 0.5px 0 #000, -0.5px 0 #000, 0 0.5px #000, 0 -0.5px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
            }
        }
        .job {
            color: #fff;
            opacity: 0.9;
            font-size: 0.85rem;
            text-align: center;
            @media screen and (max-width: 550px) {
                font-size: 0.70rem;
            }
            @media screen and (max-width: 400px) {
                font-size: 0.55rem;
            }
        }
                a {
                    margin-top: 5rem;
                    text-decoration: none;
                    color: #000;
                    background: #fff;
                    padding: 0.65rem 1rem;
                    border-radius: 10px;
                    font-size: 0.85rem;
                    text-transform: capitalize;
                }
    }

}