.buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;

    @media screen and (max-width: 350px){
    }
    button {
            color: #000;
            background: #fff;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            cursor: pointer;
            border: none;
            margin-top: 1rem;
            font-family: "Poppins";
            
    
            &.active {
                background: #14a2ba;
                color: #fff;
            }
        }
    }
    .workImages {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
        
        @media screen and(max-width: 800px) {
            grid-template-columns: repeat(2,1fr);
        }
        
        @media screen and(max-width: 600px) {
            grid-template-columns: 1fr;
        }

        .workImage {
            max-width: 380px;
            height: 250px;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            border-radius: 8px;
            // border: solid 5px crimson;
            @media screen and(max-width:600px) {
                max-width: 350px;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 8px;
            }

            .banner{
                background-color: #000000dc;
                color: #fff;
                border-top: solid 1px #14a2ba;
                text-align: center;
                position: absolute;
                width: 100%;
                border-radius: 8px 8px 0 0;
                padding: 6px;
                .banner_project_name{

                }
                .banner_project_langages{
                    font-size: 0.8rem;
                    opacity: 0.8;
                }
            }

            .hoverLayer {
                background: #14a2ba;
                width: 100%;
                height: 100%;
                z-index: 5;
                position: absolute;
                top: 0;
                left: 0;
                gap: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 8px;
                
                p{
                    top: 20%;
                    text-align: center;
                    position: absolute;
                    color: #f1f1f1;
                    text-transform: uppercase;
                }
                a {
                    width: 40px;
                    height: 40px;
                    background: rgba(255,255,255,0.25);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    svg {
                        color: #fff;
                        font-size: 1.5rem;
                    }
                }
            }
        }
}
