.about_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    //place-items: center;
    position: relative;

    @media screen and (max-width: 700px) {
        grid-template-columns: 1fr;
    }

    .about_left {
        // background: #14a2ba;
        // max-width: 310px;
        // height: 310px;
        // box-shadow: 0 0 20px #14a2ba;
        justify-self: center;
        border-radius: 5px;
        z-index: 2;
        margin-top: 20%;

        @media screen and (max-width: 700px) {
            padding: 0;
            margin-top: 0rem;
        }

        .line {
            position: absolute;
            height: 350px;
            width: 310px;
            border-radius: 5px;
            box-shadow: 0 0 20px #14a2ba;
            overflow: hidden;
            background: rgb(0, 0, 0);
        }
        .line::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 10%;
            background: linear-gradient(transparent, #14a2ba,transparent);
            animation: animate 2.5s linear infinite;
        }
        
        @keyframes animate{
            0%
            {
                transform:translateY(-100%);
            }
            50%
            {
                transform: translateY(1000%);
            }
            100%
            {
                transform:translateY(-100%);
            }
        }
    
        .line::after{
            content: '';
            position: absolute;
            inset: 3px;
            background: rgb(0, 0, 0);
            width: 98%;
            height: 98%;
            left: 1%;
            top: 1%;
        }

        img {
            position: relative;
            width: 300px;
            max-width: 300px;
            height: 340px;
            filter: grayscale(0%);
            transition: all 0.6s ease-out;
            left: 5px;
            top: 5px;
            border-radius: 5px;
            margin-bottom: 20px;
        }

        img:hover{
            filter: grayscale(100%);
        }

        .bio {
            display: flex;
            font-size: 0.85rem;
            max-width: 400px;
            margin-bottom: 1rem;
            color: white;
            margin-top: 10px;

            .bioKey {
                display: flex;
                align-items: center;
                gap: 0.5rem;
                margin-right: 3rem;
            }
        }

        .link_button{
            margin-top: 10%;
            transition: 0.3s;
            text-align: center;
        }

        .link_button:hover{
            scale: 1.1;
            transition: 0.3s;
        }

        a {
            position: relative;
            text-decoration: none;
            color: #000;
            background: #fff;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: none;
            width: 155px;
            left: 2%;
        }

        a:hover{
            scale: 1.1;
        }
    }

    .about_right {
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: justify;
        align-self: center;

        @media screen and (max-width: 700px) {
            padding: 0;
            margin-top: 4rem;
        }

        p, li{
            font-size: 0.85rem;
            margin-bottom: 1rem;
            max-width: 500px;
        }

        li{
            list-style: square inside;
            margin-bottom: 0;
        }

        li:last-child{
            margin-bottom: 1em;
        }

        .linkProject{
            color: #14a2ba;
            text-decoration: none;
            font-weight: bolder;
        }

        .linkProject:hover{
            color: #117a8d;
            text-decoration: none;
        }
    }


}