.select {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 5rem;
    margin-left: auto;
    
    button {
        color: #000;
            background: #fff;
            padding: 0.65rem 1rem;
            border-radius: 10px;
            font-size: 0.85rem;
            text-transform: capitalize;
            cursor: pointer;
            border: none;
            margin-top: 1rem;
            font-family: "Poppins";

            &.active {
                background: #14a2ba;
                color: #fff;
            }
    }
}
.competences {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  row-gap: 4rem;

  @media screen and(max-width: 500px) {
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
  }
  .tools {
    display: flex;
    justify-content: center;
    flex-direction: column;
    svg {
        width: 100px;
        height: 100px;
        color: #fff;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .langages_label{
      color: #fff;
      text-align: center;
      margin-top: 10px;
      text-transform: uppercase;
    }
  }
}
.transversales {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  color: #fff;
  text-align: center;
  text-transform: uppercase;


  @media screen and(max-width: 800px) {
    grid-template-columns: repeat(2,1fr);
    gap: 0.2rem;
  }

  @media screen and(max-width: 450px) {
    grid-template-columns: repeat(2,1fr);
    gap: 0.2rem;
  }
    .transversale {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;   
        .position {
          width: 150px;
           div {
             font-size: 1.1rem;
             align-self: center;
             text-transform: uppercase;
             @media screen  and(max-width: 405px){
               font-size: 0.65rem;
             }
           }
           svg {
            width: 100px;
            height: 100px;
            color: #fff;
            text-align: center;
          } 
        }
    }
  
}